@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Patua+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ephesis', cursive;
    font-family: 'Patua One', cursive;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1100px;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
}
.menu-title{
    font-family: 'Ephesis', cursive;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.menu-block{
    position: relative;
    background:linear-gradient(270deg,rgba(0,0,0,0.4), rgba(0,0,0,0.6));
    height: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 10px 90px rgba(225,225,225);
    overflow: hidden;
}
.carousel-contant{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}
.carousel-contant .box{
    width: 180px;
    background: red;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #ffff;
}
.btns{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s ease-in-out; 
}
.btn-left, .btn-right{
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: white;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-left:hover, .btn-right:hover{
    color: blue;
}